#contenidonavbar {
    padding-left: 25%;
    margin-top: 25%;
    text-align: center;
}

#imgperfil {


    background-color: #333;
    color: #ddd;
    font-size: 1.2em;
    box-shadow: 0 0 40px #03f;

}